style
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: Arial,"sans-serif";
}

header
{
    position: relative;
    height: 100vh;
    overflow: hidden;
}

video
{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
nav
{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
}
.nav-left img
{
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    font-size: 14px;
    margin-left: 300px;
}
.nav-middle ul li
{
    margin-right: 20px;
    position: absolute;
    top: 50px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    font-size: 30px;
    word-spacing: 30px;
    margin-bottom: 10px;
    
}


.nav-middle ul
{
    display: flex;
    list-style: none;
}

.nav-middle ul li:last-child {
    margin-right: 0;
}

.nav-middle ul li a
{
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.nav-right a
{
    background-color: red;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    border-radius: 60px;
    font-size: 14px;
    margin-right: 350px;

}
